/** @format */

meta {
  -theme-interface-name: "Dracula Sunset";
  -theme-interface-style: light;
  -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
  background-color: #e2e3f0;
  border-color: #dfe2f9;
}
meta.titlebar {
  color: #282a36;
  background-color: #f8f8f2;
  border-color: #dfe2f9;
}
meta.titlebar.inactive {
  background-color: #e2e3f0;
}
meta.button {
  background: linear-gradient(#b7bbc1, #d4d8dc);
  border: linear-gradient(#f3f7f9, #ebeef1);
  color: black;
}
meta.button.highlighted {
  background: linear-gradient(#959ba0, #b0b4ba);
  color: black;
}
meta.button.selected {
  color: black;
}
meta.button.highlighted.selected {
  color: black;
}
meta.button.disabled {
  background: linear-gradient(#b7bbc1, #d4d8dc);
  border: linear-gradient(#f3f7f9, #ebeef1);
  color: #9f9f9f;
}
meta.textfield {
  background-color: #e8ebee;
  border-color: #dfe2f9;
}

/*
 * Document styles
 */
meta.document {
  background-color: #f8f8f2;
  border-color: rgba(255, 255, 255, 0.1);
}
meta.document.button {
  background: linear-gradient(#d4d8dc, #e4e8ec);
  border: linear-gradient(#e4e8ec, #d9dbdc);
}
meta.document.button.disabled {
  background: linear-gradient(rgba(60, 62, 66, 0.3), rgba(50, 52, 56, 0.3));
}
meta.document.button.highlighted {
  background: linear-gradient(#b0b4ba, #bec2c8);
}
meta.document.textfield {
  background-color: #e2e4e6;
  border-color: #0e0f0f;
}

/* Text */
meta.text {
  color: #282a36;
}
meta.text.invisible {
  color: #7f8ec2;
}
meta.text.selected {
  background-color: #dfe2f9;
}

/* Cursor */
meta.cursor {
  background-color: #dfe2f9;
}

/* Indentation Guides */
meta.indentguide {
  border-color: #3d404a;
}

/* Gutter */
meta.gutter {
  color: #5c6166;
}
meta.gutter.selected {
  background-color: #e9ebf8;
  color: #464e57;
}

/*
 * Syntax styles
 */
keyword {
  color: #c13f8e;
}
comment {
  color: #7f8ec2;
}
processing {
  color: #c13f8e;
}
declaration {
  color: #c13f8e;
}
bracket {
  color: #282a36;
}
operator {
  color: #c13f8e;
}
invalid {
  background-color: #c13f8e;
  color: #282a36;
}
link {
  color: #007e90;
}

/* Values */
value.boolean {
  color: #855fbf;
}
value.null {
  color: #007e90;
}
value.number {
  color: #855fbf;
}
value.entity {
  color: #007e90;
}
value.symbol {
  color: #855fbf;
}

/* Identifiers */
identifier.type {
  color: #007e90;
  font-style: italic;
}
identifier.type.class {
  color: #007e90;
}
identifier.type.protocol {
  color: #007e90;
}
identifier.variable {
  color: #282a36;
}
identifier.constant {
  color: #855fbf;
}
identifier.function {
  color: #008504;
}
identifier.method {
  color: #008504;
}
identifier.property {
  color: #008504;
}
identifier.key {
  color: #007e90;
}
identifier.argument {
  color: #a0651b;
  font-style: italic;
}
identifier.decorator {
  color: #008504;
  font-style: italic;
}

/* Strings */
string {
  color: #6c7908;
}
string.key {
  color: #007e90;
}
string-template {
  color: #c13f8e;
}
string-template.value {
  color: #007e90;
}
regex {
  color: #d82f39;
}
regex.escaped {
  color: #c13f8e;
}
cdata {
  color: #007e90;
}

/* Markup */
markup.heading {
  color: #855fbf;
  font-weight: bold;
}
markup.line {
  color: #6c7908;
}
markup.bold {
  color: #a0651b;
  font-weight: bold;
}
markup.italic {
  color: #6c7908;
  font-style: italic;
}
markup.strikethrough {
  color: #d82f39;
}
markup.list.item {
  color: #007e90;
}
markup.link {
  color: #c13f8e;
}
markup.code {
  color: #008504;
}
markup.block.quote {
  color: #007e90;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #855fbf;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #008504;
}

/* Tags */
tag {
  color: #c13f8e;
}
tag.framework {
  color: #c13f8e;
}
tag.attribute.name {
  color: #008504;
  font-style: italic;
}
tag.attribute.value {
  color: #6c7908;
}
tag.attribute.value.link {
  color: #6c7908;
}

/* Styles */
style.at {
  color: #c13f8e;
  font-weight: bold;
}
style.selector.element {
  color: #c13f8e;
  font-weight: bold;
}
style.selector.identifier.id {
  color: #008504;
  font-style: italic;
}
style.selector.identifier.class {
  color: #008504;
  font-style: italic;
}
style.selector.pseudoclass {
  color: #008504;
  font-style: italic;
}
style.selector.pseudoelement {
  color: #008504;
  font-style: italic;
}
style.attribute.name {
  color: #007e90;
}
style.attribute.separator {
  color: #c13f8e;
}
style.value.number {
  color: #855fbf;
}
style.value.number.unit {
  color: #c13f8e;
}
style.value.color.hex {
  color: #855fbf;
}
style.value.color.named {
  color: #855fbf;
}
style.value.keyword {
  color: #855fbf;
}
style.value.keyword.important {
  color: #c13f8e;
}
style.value.identifier.function {
  color: #007e90;
}
style.media-query-list.keyword.media-type {
  color: #855fbf;
}
style.media-feature.keyword {
  color: #007e90;
}

/* Ruby */
ruby.identifier.constant {
  color: #007e90;
  font-style: italic;
}
ruby.identifier.variable.instance {
  color: #855fbf;
  font-style: italic;
}

/* Javascript */
javascript.single-quoted.escape,
javascript.double-quoted.escape {
  color: #c13f8e;
}

/* JSX/TSX */
jsx.tag.framework.open,
jsx.tag.framework.close,
tsx.tag.framework.open,
tsx.tag.framework.close {
  color: #007e90;
  font-style: italic;
}

/* Terminal */
terminal.bright-black {
  color: #dfe2f9;
}
terminal.bright-red {
  color: #ff6e67;
}
terminal.bright-green {
  color: #5af78e;
}
terminal.bright-yellow {
  color: #f4f99d;
}
terminal.bright-blue {
  color: #caa9fa;
}
terminal.bright-magenta {
  color: #ff92d0;
}
terminal.bright-cyan {
  color: #9aedfe;
}
terminal.bright-black {
  color: #282a36;
}

terminal.black {
  color: #f8f8f2;
}
terminal.red {
  color: #d82f39;
}
terminal.green {
  color: #008504;
}
terminal.yellow {
  color: #6c7908;
}
terminal.blue {
  color: #855fbf;
}
terminal.magenta {
  color: #c13f8e;
}
terminal.cyan {
  color: #007e90;
}
terminal.black {
  color: #bfbfbf;
}
