/** @format */

meta {
  -theme-interface-name: "Dracula White";
  -theme-interface-style: light;
  -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
  background-color: #e9e9f7;
  border-color: #e6e9ff;
}
meta.titlebar {
  color: #282a36;
  background-color: #ffffff;
  border-color: #e6e9ff;
}
meta.titlebar.inactive {
  background-color: #e9e9f7;
}
meta.button {
  background: linear-gradient(#bcc1c7, #dbdfe2);
  border: linear-gradient(#fafeff, #f2f5f8);
  color: black;
}
meta.button.highlighted {
  background: linear-gradient(#9aa0a6, #b5bac0);
  color: black;
}
meta.button.selected {
  color: black;
}
meta.button.highlighted.selected {
  color: black;
}
meta.button.disabled {
  background: linear-gradient(#bcc1c7, #dbdfe2);
  border: linear-gradient(#fafeff, #f2f5f8);
  color: #a4a4a4;
}
meta.textfield {
  background-color: #eff2f5;
  border-color: #e6e9ff;
}

/*
 * Document styles
 */
meta.document {
  background-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
}
meta.document.button {
  background: linear-gradient(#dbdfe2, #ebeff3);
  border: linear-gradient(#ebeff3, #e0e1e3);
}
meta.document.button.disabled {
  background: linear-gradient(rgba(60, 62, 66, 0.3), rgba(50, 52, 56, 0.3));
}
meta.document.button.highlighted {
  background: linear-gradient(#b5bac0, #c4c9ce);
}
meta.document.textfield {
  background-color: #e9eaed;
  border-color: #0e0f0f;
}

/* Text */
meta.text {
  color: #282a36;
}
meta.text.invisible {
  color: #8493c8;
}
meta.text.selected {
  background-color: #e6e9ff;
}

/* Cursor */
meta.cursor {
  background-color: #e6e9ff;
}

/* Indentation Guides */
meta.indentguide {
  border-color: #3d404a;
}

/* Gutter */
meta.gutter {
  color: #5c6166;
}
meta.gutter.selected {
  background-color: #f0f2ff;
  color: #4a535b;
}

/*
 * Syntax styles
 */
keyword {
  color: #c74493;
}
comment {
  color: #8493c8;
}
processing {
  color: #c74493;
}
declaration {
  color: #c74493;
}
bracket {
  color: #282a36;
}
operator {
  color: #c74493;
}
invalid {
  background-color: #c74493;
  color: #282a36;
}
link {
  color: #048395;
}

/* Values */
value.boolean {
  color: #8963c4;
}
value.null {
  color: #048395;
}
value.number {
  color: #8963c4;
}
value.entity {
  color: #048395;
}
value.symbol {
  color: #8963c4;
}

/* Identifiers */
identifier.type {
  color: #048395;
  font-style: italic;
}
identifier.type.class {
  color: #048395;
}
identifier.type.protocol {
  color: #048395;
}
identifier.variable {
  color: #282a36;
}
identifier.constant {
  color: #8963c4;
}
identifier.function {
  color: #008a0d;
}
identifier.method {
  color: #008a0d;
}
identifier.property {
  color: #008a0d;
}
identifier.key {
  color: #048395;
}
identifier.argument {
  color: #a56a20;
  font-style: italic;
}
identifier.decorator {
  color: #008a0d;
  font-style: italic;
}

/* Strings */
string {
  color: #707e0f;
}
string.key {
  color: #048395;
}
string-template {
  color: #c74493;
}
string-template.value {
  color: #048395;
}
regex {
  color: #de353d;
}
regex.escaped {
  color: #c74493;
}
cdata {
  color: #048395;
}

/* Markup */
markup.heading {
  color: #8963c4;
  font-weight: bold;
}
markup.line {
  color: #707e0f;
}
markup.bold {
  color: #a56a20;
  font-weight: bold;
}
markup.italic {
  color: #707e0f;
  font-style: italic;
}
markup.strikethrough {
  color: #de353d;
}
markup.list.item {
  color: #048395;
}
markup.link {
  color: #c74493;
}
markup.code {
  color: #008a0d;
}
markup.block.quote {
  color: #048395;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #8963c4;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #008a0d;
}

/* Tags */
tag {
  color: #c74493;
}
tag.framework {
  color: #c74493;
}
tag.attribute.name {
  color: #008a0d;
  font-style: italic;
}
tag.attribute.value {
  color: #707e0f;
}
tag.attribute.value.link {
  color: #707e0f;
}

/* Styles */
style.at {
  color: #c74493;
  font-weight: bold;
}
style.selector.element {
  color: #c74493;
  font-weight: bold;
}
style.selector.identifier.id {
  color: #008a0d;
  font-style: italic;
}
style.selector.identifier.class {
  color: #008a0d;
  font-style: italic;
}
style.selector.pseudoclass {
  color: #008a0d;
  font-style: italic;
}
style.selector.pseudoelement {
  color: #008a0d;
  font-style: italic;
}
style.attribute.name {
  color: #048395;
}
style.attribute.separator {
  color: #c74493;
}
style.value.number {
  color: #8963c4;
}
style.value.number.unit {
  color: #c74493;
}
style.value.color.hex {
  color: #8963c4;
}
style.value.color.named {
  color: #8963c4;
}
style.value.keyword {
  color: #8963c4;
}
style.value.keyword.important {
  color: #c74493;
}
style.value.identifier.function {
  color: #048395;
}
style.media-query-list.keyword.media-type {
  color: #8963c4;
}
style.media-feature.keyword {
  color: #048395;
}

/* Ruby */
ruby.identifier.constant {
  color: #048395;
  font-style: italic;
}
ruby.identifier.variable.instance {
  color: #8963c4;
  font-style: italic;
}

/* Javascript */
javascript.single-quoted.escape,
javascript.double-quoted.escape {
  color: #c74493;
}

/* JSX/TSX */
jsx.tag.framework.open,
jsx.tag.framework.close,
tsx.tag.framework.open,
tsx.tag.framework.close {
  color: #048395;
  font-style: italic;
}

/* Terminal */
terminal.bright-black {
  color: #e6e9ff;
}
terminal.bright-red {
  color: #ff6e67;
}
terminal.bright-green {
  color: #5af78e;
}
terminal.bright-yellow {
  color: #f4f99d;
}
terminal.bright-blue {
  color: #caa9fa;
}
terminal.bright-magenta {
  color: #ff92d0;
}
terminal.bright-cyan {
  color: #9aedfe;
}
terminal.bright-black {
  color: #282a36;
}

terminal.black {
  color: #ffffff;
}
terminal.red {
  color: #de353d;
}
terminal.green {
  color: #008a0d;
}
terminal.yellow {
  color: #707e0f;
}
terminal.blue {
  color: #8963c4;
}
terminal.magenta {
  color: #c74493;
}
terminal.cyan {
  color: #048395;
}
terminal.black {
  color: #bfbfbf;
}
